<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

<div id="kermit-view">
  <label>Name: <input type="text" name="name" class="name"></label>
  <label>Occupation: <input type="text" name="occupation" class="occupation"></label>
  <button class="save">Save</button>
</div>


<div id="kermit-display">
<p>Hmmm</p>
</div>

        <ul id="muppets-list"></ul>

        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="http://backbonejs.org/backbone.js"></script>


<script type="text/template" id="muppet-item-tmpl">
  <p><a href="/muppets/<%= id %>"><%= name %></a></p>
  <p>Job: <i><%= occupation %></i></p>
</script>

<script>

/******* MODELS  **************/

var KermitModel = Backbone.Model.extend({
  url: '/muppets/2',
  defaults: {
    id: null,
    name: null,
    occupation: null
  }
});

var kermit = new KermitModel();




/************ VIEWS ****************/

var KermitView = Backbone.View.extend({
  el: '#kermit-display',
  tmpl: _.template($("#muppet-item-tmpl").html()),

  initialize: function() {
    this.listenTo(this.model, 'sync change', this.render);
    this.model.fetch();
    this.render();
  },

  render: function() {
    var html = this.tmpl(this.model.toJSON());
    this.$el.html(html);
    return this;
  }

});


var kermitView = new KermitView({ model: kermit});
var KermitEditView = Backbone.View.extend({
  el: '#kermit-view',

  events: {
    'change .name': 'onChangeName',
    'change .occupation': 'onChangeOccupation',
    'click .save': 'onSave'
  },

  initialize: function() {
    var that = this;
    this.model.fetch().then(function() {
        $('.name').val(that.model.get('name'));
        $('.occupation').val(that.model.get('occupation'));
    });
  },


  onChangeName: function(evt) {
    if (evt.currentTarget.value) this.model.set('name', evt.currentTarget.value);
  },

  onChangeOccupation: function(evt) {
    if (evt.currentTarget.value) this.model.set('occupation', evt.currentTarget.value);
  },

  onSave: function(evt) {
    this.model.save();
  }
});

var kermitEditView = new KermitEditView({model: kermit});


</script>
    </body>
</html>