<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

<div id="muppets-app">
  <ul class="muppets-list"></ul>

  <div class="muppet-create">
    <b>Add a Muppet</b>
    <label>Name: <input id="muppet-name" type="text"></label>
    <label>Job: <input id="muppet-job" type="text"></label>
    <button class="create">Create Muppet!</button>
  </div>
</div>

<script type="text/template" id="muppet-item-tmpl">
  <p><a href="/muppets/<%= id %>"><%= name %></a></p>
  <p>Job: <i><%= occupation %></i></p>
  <button class="remove">x</button>
</script>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="http://backbonejs.org/backbone.js"></script>

<script>

/******* MODELS  **************/

var MuppetModel = Backbone.Model.extend({
  defaults: {
    id: null,
    name: null,
    occupation: null
  }
});

/******* COLLECTIONS **************/

var MuppetsCollection = Backbone.Collection.extend({
  url: '/muppets',
  model: MuppetModel,
  parse: function(data) {
    return data.muppets;
  }
});


/************ VIEWS ****************/

// View for rendering a single list item
var MuppetsListItemView = Backbone.View.extend({
    tagName: 'li',
    className: 'muppet',
    tmpl: _.template($('#muppet-item-tmpl').html()),

    initialize: function() {
        this.listenTo(this.model, 'destroy', this.remove)
    },

    render: function() {
        var html = this.tmpl(this.model.toJSON());
        this.$el.html(html);
        return this;
    },

    events: {
        'click .remove': 'onRemove'
    },

    onRemove: function() {
        this.model.destroy();
    }
});


// View class for rendering the full list of all muppets
var MuppetsListView = Backbone.View.extend({
    el: '#muppets-app',

    initialize: function() {
        this.listenTo(this.collection, 'sync', this.render);
    },

    render: function() {
        var $list = this.$('ul.muppets-list').empty();

        // this uses the 'sub-view'
        this.collection.each(function(model) {
            var item = new MuppetsListItemView({model: model});
            $list.append(item.render().$el);
        }, this);

        return this;
    },

    events: {
        'click .create': 'onCreate'
    },

    onCreate: function() {
        var $name = this.$('#muppet-name');
        var $job = this.$('#muppet-job');

        if ($name.val()) {
            this.collection.create({
                name: $name.val(),
                occupation: $job.val()
            });

            // reset the form
            $name.val('');
            $job.val('');
        }
    }
});


// Instantiation

// Create a new list collection, a list view, and then fetch list data:
var muppetsList = new MuppetsCollection();
var muppetsView = new MuppetsListView({collection: muppetsList});
muppetsList.fetch();

</script>
    </body>
</html>